<h1>Course Terms</h1>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Course</th>
      <th>Term</th>
      <th>Start</th>
      <th>End</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    {{#each courseTerms}}
    <tr>
      <td>{{courseTermID}}</td>
      <td>{{courseName}}</td>
      <td>{{termName}}</td>
      <td>{{startDate}}</td>
      <td>{{endDate}}</td>
      <td>
        <form action="/courseterms/delete" method="POST">
          <input type="hidden" name="courseTermID" value="{{courseTermID}}">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>